process {
  withName:MINIMAP2 {
    container = '/hpcfs/groups/phoenix-hpc-avsci/Davies_Informatics/CONTAINERS/minimap2.sif'
  }
  withName:MINIMAP2_INDEX {
    container = '/hpcfs/groups/phoenix-hpc-avsci/Davies_Informatics/CONTAINERS/minimap2.sif'
  }
  withName:CLAIR3 {
    container = '/hpcfs/groups/phoenix-hpc-avsci/Davies_Informatics/CONTAINERS/clair3.sif'
  }
  withName:SNIFFLES2 {
    container = '/hpcfs/groups/phoenix-hpc-avsci/Davies_Informatics/CONTAINERS/sniffles2.sif'
  }
  withName:SAMTOOLS_SPLITBAM {
    container = '/hpcfs/groups/phoenix-hpc-avsci/Davies_Informatics/CONTAINERS/samtools.sif'
  }
  withName:SAMTOOLS_STATS {
    container = '/hpcfs/groups/phoenix-hpc-avsci/Davies_Informatics/CONTAINERS/samtools.sif'
  }
  withName:SAMTOOLS_FLAGSTAT {
    container = '/hpcfs/groups/phoenix-hpc-avsci/Davies_Informatics/CONTAINERS/samtools.sif'
  }
  withName:SAMTOOLS_IDXSTATS {
    container = '/hpcfs/groups/phoenix-hpc-avsci/Davies_Informatics/CONTAINERS/samtools.sif'
  }
  withName:SAMTOOLS_FAIDX {
    container = '/hpcfs/groups/phoenix-hpc-avsci/Davies_Informatics/CONTAINERS/samtools.sif'
  }
  withName:NANOPLOT {
    container = '/hpcfs/groups/phoenix-hpc-avsci/Davies_Informatics/CONTAINERS/nanoplot.sif'
  }
  withName:MULTIQC {
    container = '/hpcfs/groups/phoenix-hpc-avsci/Davies_Informatics/CONTAINERS/multiqc.sif'
  }
  withName:MOSDEPTH {
    container = '/hpcfs/groups/phoenix-hpc-avsci/Davies_Informatics/CONTAINERS/mosdepth.sif'
  }
  withName:FILTLONG {
    container = '/hpcfs/groups/phoenix-hpc-avsci/Davies_Informatics/CONTAINERS/filtlong.sif'
  }
}