process {
  withName:MINIMAP2 {
    cpus   = { check_max( 8    * task.attempt, 'cpus'    ) }
  }
  withName:MINIMAP2_INDEX {
    cpus   = { check_max( 1     * task.attempt, 'cpus'    ) }
  }
  withName:CLAIR3 {
    cpus   = { check_max( 8    * task.attempt, 'cpus'    ) }
  }
  withName:SNIFFLES2 {
    cpus   = { check_max( 4     * task.attempt, 'cpus'    ) }
  }
  withName:CUTESV {
    cpus   = { check_max( 4    * task.attempt, 'cpus'    ) }
  }
  withName:SVIM {
    cpus   = { check_max( 4     * task.attempt, 'cpus'    ) }
  }
  withName:DYSGU {
    cpus   = { check_max( 4     * task.attempt, 'cpus'    ) }
  }
  withName:SAMTOOLS_SPLITBAM {
    cpus   = { check_max( 4     * task.attempt, 'cpus'    ) }
  }
  withName:SAMTOOLS_STATS {
    cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
  }
  withName:SAMTOOLS_FLAGSTAT {
    cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
  }
  withName:SAMTOOLS_IDXSTATS {
    cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
  }
  withName:SAMTOOLS_FAIDX {
    cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
  }
  withName:NANOPLOT {
    cpus   = { check_max( 4     * task.attempt, 'cpus'    ) }
  }
  withName:MULTIQC {
    cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
  }
  withName:MOSDEPTH {
    cpus   = { check_max( 8     * task.attempt, 'cpus'    ) }
  }
  withName:FILTLONG {
    cpus   = { check_max( 8     * task.attempt, 'cpus'    ) }
  }
  withName:BCFTOOLS_STATS {
    cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
  }
}