process {
  withName:MINIMAP2 {
    container = 'callumm93/minimap2:v2.26'
  }
  withName:MINIMAP2_INDEX {
    container = 'callumm93/minimap2:v2.26'
  }
  withName:CLAIR3 {
    container = 'hkubal/clair3:v1.0.5'
  }
  withName:SNIFFLES2 {
    container = 'callumm93/sniffles2:v2.2'
  }
  withName:SAMTOOLS_SPLITBAM {
    container = 'callumm93/samtools:v1.19'
  }
  withName:SAMTOOLS_STATS {
    container = 'callumm93/samtools:v1.19'
  }
  withName:SAMTOOLS_FLAGSTAT {
    container = 'callumm93/samtools:v1.19'
  }
  withName:SAMTOOLS_IDXSTATS {
    container = 'callumm93/samtools:v1.19'
  }
  withName:SAMTOOLS_FAIDX {
    container = 'callumm93/samtools:v1.19'
  }
  withName:NANOPLOT {
    container = 'callumm93/nanoplot:v1.42'
  }
  withName:MULTIQC {
    container = 'callumm93/multiqc:v1.19'
  }
  withName:MOSDEPTH {
    container = 'callumm93/mosdepth:v0.3.6'
  }
  withName:FILTLONG {
    container = 'callumm93/filtlong:v0.2.1'
  }
}