process {
  withName:MINIMAP2 {
    conda = '/Users/callummacphillamy/miniforge3/envs/svcaller'
    cpus   = { check_max( 4    * task.attempt, 'cpus'    ) }
  }
  withName:MINIMAP2_INDEX {
    conda = '/Users/callummacphillamy/miniforge3/envs/svcaller'
    cpus   = { check_max( 1     * task.attempt, 'cpus'    ) }
  }
  withName:CLAIR3 {
    container = 'callumm93/clair3:v1.0.5'
    cpus   = { check_max( 4    * task.attempt, 'cpus'    ) }
  }
  withName:MODKIT {
    container = 'callumm93/modkit:v0.2.8'
    cpus   = { check_max( 4    * task.attempt, 'cpus'    ) }
  }
  withName:SNIFFLES2 {
    conda = '/Users/callummacphillamy/miniforge3/envs/svcaller'
    cpus   = { check_max( 4     * task.attempt, 'cpus'    ) }
  }
  withName:CUTESV {
    conda = '/Users/callummacphillamy/miniforge3/envs/svcaller'
    cpus   = { check_max( 4     * task.attempt, 'cpus'    ) }
  }
  withName:SVIM {
    conda = '/Users/callummacphillamy/miniforge3/envs/svcaller'
    cpus   = { check_max( 4     * task.attempt, 'cpus'    ) }
  }
  withName:DYSGU {
    conda = '/Users/callummacphillamy/miniforge3/envs/svcaller'
    cpus   = { check_max( 4     * task.attempt, 'cpus'    ) }
  }
  withName:SAMTOOLS_SPLITBAM {
    conda = '/Users/callummacphillamy/miniforge3/envs/svcaller'
    cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
  }
  withName:SAMTOOLS_STATS {
    conda = '/Users/callummacphillamy/miniforge3/envs/svcaller'
    cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
  }
  withName:SAMTOOLS_FLAGSTAT {
    conda = '/Users/callummacphillamy/miniforge3/envs/svcaller'
    cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
  }
  withName:SAMTOOLS_IDXSTATS {
    conda = '/Users/callummacphillamy/miniforge3/envs/svcaller'
    cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
  }
  withName:SAMTOOLS_FAIDX {
    conda = '/Users/callummacphillamy/miniforge3/envs/svcaller'
    cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
  }
  withName:NANOPLOT {
    conda = '/Users/callummacphillamy/miniforge3/envs/svcaller'
    cpus   = { check_max( 4     * task.attempt, 'cpus'    ) }
  }
  withName:MULTIQC {
    conda = '/Users/callummacphillamy/miniforge3/envs/svcaller'
    cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
  }
  withName:MOSDEPTH {
    conda = '/Users/callummacphillamy/miniforge3/envs/svcaller'
    cpus   = { check_max( 4     * task.attempt, 'cpus'    ) }
  }
  withName:FILTLONG {
    conda = '/Users/callummacphillamy/miniforge3/envs/svcaller'
    cpus   = { check_max( 4     * task.attempt, 'cpus'    ) }
  }
  withName:CUTESV {
    conda = '/Users/callummacphillamy/miniforge3/envs/svcaller'
    cpus   = { check_max( 4     * task.attempt, 'cpus'    ) }
  }
  withName:DYSGU {
    conda = '/Users/callummacphillamy/miniforge3/envs/svcaller'
    cpus   = { check_max( 4     * task.attempt, 'cpus'    ) }
  }
  withName:SVIM {
    conda = '/Users/callummacphillamy/miniforge3/envs/svcaller'
    cpus   = { check_max( 4     * task.attempt, 'cpus'    ) }
  }
  withName:SURVIVOR {
    conda = '/Users/callummacphillamy/miniforge3/envs/svcaller'
    cpus   = { check_max( 4     * task.attempt, 'cpus'    ) }
  }
  withName:BCFTOOLS_STATS {
    conda = '/Users/callummacphillamy/miniforge3/envs/svcaller'
    cpus   = { check_max( 4     * task.attempt, 'cpus'    ) }
  }
}