process {
  withName:MINIMAP2 {
    container = 'callumm93/dorado:v0.6.0'
    cpus   = { check_max( 4    * task.attempt, 'cpus'   ) }
    memory = { check_max( 8.GB * task.attempt, 'memory' ) }
    time   = { check_max( 4.h  * task.attempt, 'time'   ) }
  }
  withName:MINIMAP2_INDEX {
    container = 'callumm93/minimap2:v2.26'
    cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
    memory = { check_max( 6.GB * task.attempt, 'memory' ) }
    time   = { check_max( 4.h  * task.attempt, 'time'   ) }
  }
  withName:CLAIR3 {
    container = 'callumm93/clair3:v1.0.5'
    cpus   = { check_max( 4    * task.attempt, 'cpus'   ) }
    memory = { check_max( 16.GB * task.attempt, 'memory' ) }
    time   = { check_max( 4.h  * task.attempt, 'time'   ) }
  }
  withName:SNIFFLES2 {
    container = 'callumm93/sniffles2:v2.2'
    cpus   = { check_max( 4    * task.attempt, 'cpus'   ) }
    memory = { check_max( 8.GB * task.attempt, 'memory' ) }
    time   = { check_max( 4.h  * task.attempt, 'time'   ) }
  }
  withName:CUTESV {
    container = 'callumm93/cutesv:v2.1.0'
    cpus   = { check_max( 4     * task.attempt, 'cpus'    ) }
    memory = { check_max( 16.GB * task.attempt, 'memory'  ) }
    time   = { check_max( 5.h   * task.attempt, 'time'    ) }
  }
  withName:SVIM {
    container = 'callumm93/svim:v2.0.0'
    cpus   = { check_max( 4     * task.attempt, 'cpus'    ) }
    memory = { check_max( 16.GB * task.attempt, 'memory'  ) }
    time   = { check_max( 5.h   * task.attempt, 'time'    ) }
  }
  withName:DYSGU {
    container = 'callumm93/dysgu:v1.6.2'
    cpus   = { check_max( 4     * task.attempt, 'cpus'    ) }
    memory = { check_max( 16.GB * task.attempt, 'memory'  ) }
    time   = { check_max( 5.h   * task.attempt, 'time'    ) }
  }
  withName:SAMTOOLS_SPLITBAM {
    container = 'callumm93/samtools:v1.19'
    cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
    memory = { check_max( 6.GB * task.attempt, 'memory' ) }
    time   = { check_max( 4.h  * task.attempt, 'time'   ) }
  }
  withName:SAMTOOLS_STATS {
    container = 'callumm93/samtools:v1.19'
    cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
    memory = { check_max( 6.GB * task.attempt, 'memory' ) }
    time   = { check_max( 4.h  * task.attempt, 'time'   ) }
  }
  withName:SAMTOOLS_FLAGSTAT {
    container = 'callumm93/samtools:v1.19'
    cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
    memory = { check_max( 6.GB * task.attempt, 'memory' ) }
    time   = { check_max( 4.h  * task.attempt, 'time'   ) }
  }
  withName:SAMTOOLS_IDXSTATS {
    container = 'callumm93/samtools:v1.19'
    cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
    memory = { check_max( 6.GB * task.attempt, 'memory' ) }
    time   = { check_max( 4.h  * task.attempt, 'time'   ) }
  }
  withName:SAMTOOLS_FAIDX {
    container = 'callumm93/samtools:v1.19'
    cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
    memory = { check_max( 6.GB * task.attempt, 'memory' ) }
    time   = { check_max( 4.h  * task.attempt, 'time'   ) }
  }
  withName:NANOPLOT {
    container = 'callumm93/nanoplot:v1.42'
    cpus   = { check_max( 4    * task.attempt, 'cpus'   ) }
    memory = { check_max( 6.GB * task.attempt, 'memory' ) }
    time   = { check_max( 4.h  * task.attempt, 'time'   ) }
  }
  withName:MULTIQC {
    container = 'callumm93/multiqc:v1.19'
    cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
    memory = { check_max( 6.GB * task.attempt, 'memory' ) }
    time   = { check_max( 4.h  * task.attempt, 'time'   ) }
  }
  withName:MOSDEPTH {
    container = 'callumm93/mosdepth:v0.3.6'
    cpus   = { check_max( 4    * task.attempt, 'cpus'   ) }
    memory = { check_max( 6.GB * task.attempt, 'memory' ) }
    time   = { check_max( 4.h  * task.attempt, 'time'   ) }
  }
  withName:FILTLONG {
    container = 'callumm93/filtlong:v0.2.1'
    cpus   = { check_max( 4    * task.attempt, 'cpus'   ) }
    memory = { check_max( 6.GB * task.attempt, 'memory' ) }
    time   = { check_max( 4.h  * task.attempt, 'time'   ) }
  }
}